<footer class="footer" style="height:12rem;">
    <div class="container content">
        <div style="display: grid; grid-template-columns: 40% 60%;">
            <div class="column">
                <h4 class="bd-footer-title  
                           has-text-weight-medium 
                           has-text-left">
                    Orchid
                </h4>
    
                <p class="bd-footer-link  
                          has-text-left">
                    Orchids are a diverse and beautiful family of flowering plants that belong to the Orchidaceae family
                </p>
    
            </div>
        </div>
        <div class="has-text-centered" style="font-weight: bold;font-size: larger;">
            <p>
                2023 @ Orchid
            </p>
        </div>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/matchPassword.js"></script>